version: "3.9"
services:
  dj-connect-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: dj-connect-app
    container_name: dj-connect-app
    restart: unless-stopped
    tty: true
    volumes:
      - ./dj-connect-back:/var/www/dj-connect-back
    networks:
      - app-network

  webserver:
    image: nginx:alpine
    container_name: nginx-dj-connect-app
    restart: unless-stopped
    tty: true
    ports:
      - "8082:80"
    volumes:
      - ./dj-connect-back:/var/www/dj-connect-back
      - ./nginx/conf.d:/etc/nginx/conf.d/
      - ./nginx/snippets:/etc/nginx/snippets
    networks:
      - app-network

  db:
    image: postgres:16
    container_name: mysql-dj-connect-app
    restart: unless-stopped
    tty: true
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: dj_music_app
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpassword
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
