{
    "openapi": "3.0.0",
    "info": {
        "title": "DJ Connect API",
        "description": "API documentation for DJ Connect",
        "contact": {
            "email": "support@djconnect.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://dj-connect.xyz/api/v1"
        }
    ],
    "paths": {
        "/dj/register": {
            "post": {
                "tags": [
                    "DJ"
                ],
                "summary": "Register a new DJ",
                "description": "Registers a new DJ and returns the DJ object",
                "operationId": "registerDJ",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "stage_name": {
                                        "type": "string",
                                        "example": "DJ Example"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "base_prices": {
                                        "type": "string",
                                        "example": "100"
                                    },
                                    "payment_details": {
                                        "type": "string",
                                        "example": "Bank details or any payment information"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DJ"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "telegramAuth": []
                    }
                ]
            }
        },
        "/dj/profile/{id}": {
            "get": {
                "tags": [
                    "DJ"
                ],
                "summary": "Get DJ profile",
                "description": "Returns DJ profile by ID",
                "operationId": "getDJProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "DJ ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DJ"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "telegramAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "DJ"
                ],
                "summary": "Update DJ profile",
                "description": "Updates DJ profile information",
                "operationId": "updateDJProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "DJ ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "stage_name": {
                                        "type": "string",
                                        "example": "DJ Example"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "base_prices": {
                                        "type": "string",
                                        "example": "100"
                                    },
                                    "payment_details": {
                                        "type": "string",
                                        "example": "Bank details or any payment information"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DJ"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "telegramAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "DJ": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "stage_name": {
                        "type": "string",
                        "example": "DJ Example"
                    },
                    "city": {
                        "type": "string",
                        "example": "New York"
                    },
                    "base_prices": {
                        "type": "string",
                        "example": "100"
                    },
                    "payment_details": {
                        "type": "string",
                        "example": "Bank details or any payment information"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "telegramAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Telegram-Init-Data",
                "description": "Value of TWA.initData() from Telegram Web App.",
                "default": "query_id=AAFBaKouAAAAAEFoqi6boeTP&user=%7B%22id%22%3A782919745%2C%22first_name%22%3A%22Ruslan%22%2C%22last_name%22%3A%22Shadaev%22%2C%22username%22%3A%22beilec%22%2C%22language_code%22%3A%22en%22%2C%22is_premium%22%3Atrue%2C%22allows_write_to_pm%22%3Atrue%7D&auth_date=1720091705&hash=1ea39608f5d00f92bb5e7fd37e6cd11c998274ec927cb21899fdccfa626fc74d"
            }
        }
    },
    "tags": [
        {
            "name": "DJ",
            "description": "DJ"
        }
    ],
    "security": [
        {
            "telegramAuth": []
        }
    ]
}